<p>login works!</p>
<div class="container">
  <div class="row">
    <div class="col-4">
      <form [formGroup]="loginFormGroup">
        <div class="">
          <label>Usuario</label>
          <input formControlName="user" type="text">
        </div>
        <div class="">
          <label>Password</label>
          <input formControlName="password" type="password">
        </div>

        <button type="button" class="btn btn-primary" (click)="submitLogin()" [disabled]></button>
      </form>
    </div>
  </div>
</div>
