<div class="container">
  <form formGroup="filmFormGroup">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <label for="">Titulo</label>
        <input type="text" formControleName="title">
      </div>
      <div class="col-md-6 col-sm-12">
        <label for="">Descripcion</label>
        <textarea formControleName="overview"></textarea>
      </div>
      <div class="col-md-6 col-sm-12">
        <label for=""></label>
        <input type="checkbox" formControleName="adult"> Adulto
      </div>
      <div class="col-md-6 col-sm-12">
        <label for=""></label>
        <input type="checkbox" formControleName="favourite"> Favorito
      </div>
    </div>
  </form>
</div>
