<div class="container">
  <form [formGroup]="filmFormGroup">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <label>Titulo</label>
        <input type="text" formControlName="title">
        <app-form-messages
          *ngIf="filmFormGroup?.get('title')?.touched && filmFormGroup?.get('title')?.errors"
          [error]="filmFormGroup?.get('title')?.errors">
        </app-form-messages>
      </div>
      <div class="col-md-6 col-sm-12">
        <label>Descripcion</label>
        <textarea formControlName="overview"></textarea>
      </div>
      <div class="col-md-6 col-sm-12">
        <label></label>
        <input type="checkbox" formControlName="adult"> Adulto
      </div>
      <div class="col-md-6 col-sm-12">
        <label></label>
        <input type="checkbox" formControlName="favourite"> Favorito
      </div>
    </div>
    <div class="row">
      <div class="col-12">Idiomas</div>
      <form [formGroup]="langFormGroup">
        <div class="col-md-6 col-sm-12">
          <label></label>
          <input type="text" formControlName="shortName"> Nombre corto
        </div>
        <div class="col-md-6 col-sm-12">
          <label></label>
          <input type="text" formControlName="langName"> Nombre de idioma
        </div>
        <div class="col-md-6 col-sm-12">
          <button type="button" (click)="addLang()" [disabled]="!langFormGroup.valid">Añadir</button>
        </div>
      </form>
    </div>
    <button type="submit" (click)="onSubmit()" [disabled]="!filmFormGroup.valid">Enviar</button>
  </form>
</div>
